<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2><%= texto %></h2>
    <p><%= nombre %></p>
    <h2>Condicionales</h2>
    <% if (esPar) { %>
    <p>El segundo actual es par</p>
    <% } else { %>
    <p>El segundo actual es impar.</p>
    <%} %>
  </body>
</html>
